<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body style="background-image: url('https://repository-images.githubusercontent.com/567080508/c758337d-57d1-4ef5-8ab4-e24c36059bcd'); background-size: cover; background-position: center; font-family: Arial, sans-serif; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh;">
<div style="text-align: right; background-color: rgba(255, 255, 255, 0.8); padding: 30px; border-radius: 9px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); max-width: 300px; width: 70%;position: absolute; right: 190px; top: 160px;">
<h1 style="text-align: center;color:darkgreen">Sign Up</h1>
<form action="/signup" method="post">
    <label for="username"  style="color: #808000;">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter the Username" required><br><br>
    <label for="password"  style="color: #808000;">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter the Password" required><br><br>
    <button type="submit" style="background-color: lightgreen">Sign Up</button>
</form>
</div>
</body>

</html>
